@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #242424;

    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 60px;
    padding-bottom: 30px;

    color: white;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 50px;

    & .responsive, & .multimedia, & .accesibilidad {
        & .card {
            background-color: #1e1e1e;

            border: 1px solid #1e1e1e;
            border-radius: 15px;

            padding: 50px;

            & a {
                text-decoration: none;

                color: white;

                font-weight: bold;
            }
        }
    }
}